<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <javaee:display-name>easybuy2</javaee:display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>user_result</javaee:display-name>
    <servlet-name>user_result</servlet-name>
    <servlet-class>servlet.user_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_result</servlet-name>
    <url-pattern>/manage/user_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user_update2</servlet-name>
    <servlet-class>servlet.user_update2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_update2</servlet-name>
    <url-pattern>/manage/user_update2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user_update</servlet-name>
    <servlet-class>servlet.user_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_update</servlet-name>
    <url-pattern>/manage/user_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user_delete</servlet-name>
    <servlet-class>servlet.user_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_delete</servlet-name>
    <url-pattern>/manage/user_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user_add</servlet-name>
    <servlet-class>servlet.user_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_add</servlet-name>
    <url-pattern>/manage/user_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ProductServlet</javaee:display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/manage/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>AddProductServlet</javaee:display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/manage/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>login_Servlet</javaee:display-name>
    <servlet-name>login_Servlet</servlet-name>
    <servlet-class>servlet.login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_Servlet</servlet-name>
    <url-pattern>/login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>register_Servlet</javaee:display-name>
    <servlet-name>register_Servlet</servlet-name>
    <servlet-class>servlet.register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_Servlet</servlet-name>
    <url-pattern>/register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>code</servlet-name>
    <servlet-class>servlet.code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>code</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>shoppingcar_Servlet</javaee:display-name>
    <servlet-name>shoppingcar_Servlet</servlet-name>
    <servlet-class>servlet.shoppingcar_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingcar_Servlet</servlet-name>
    <url-pattern>/shoppingcar_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>order_result</javaee:display-name>
    <servlet-name>order_result</servlet-name>
    <servlet-class>servlet.order_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_result</servlet-name>
    <url-pattern>/manage/order_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>AddPcServlet</javaee:display-name>
    <servlet-name>AddPcServlet</servlet-name>
    <servlet-class>servlet.AddPcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPcServlet</servlet-name>
    <url-pattern>/manage/AddPcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>DeletePcServlet</javaee:display-name>
    <servlet-name>DeletePcServlet</servlet-name>
    <servlet-class>servlet.DeletePcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePcServlet</servlet-name>
    <url-pattern>/manage/DeletePcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SelectPcServlet</javaee:display-name>
    <servlet-name>SelectPcServlet</servlet-name>
    <servlet-class>servlet.SelectPcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPcServlet</servlet-name>
    <url-pattern>/manage/SelectPcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>UpdatePcServlet</javaee:display-name>
    <servlet-name>UpdatePcServlet</servlet-name>
    <servlet-class>servlet.UpdatePcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePcServlet</servlet-name>
    <url-pattern>/manage/UpdatePcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>order_selectlike</javaee:display-name>
    <servlet-name>order_selectlike</servlet-name>
    <servlet-class>servlet.order_selectlike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_selectlike</servlet-name>
    <url-pattern>/manage/order_selectlike</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>order_update</javaee:display-name>
    <servlet-name>order_update</servlet-name>
    <servlet-class>servlet.order_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_update</servlet-name>
    <url-pattern>/manage/order_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>order_update2</javaee:display-name>
    <servlet-name>order_update2</servlet-name>
    <servlet-class>servlet.order_update2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_update2</servlet-name>
    <url-pattern>/manage/order_update2</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>order_delete</javaee:display-name>
    <servlet-name>order_delete</servlet-name>
    <servlet-class>servlet.order_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_delete</servlet-name>
    <url-pattern>/manage/order_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexProServlet</servlet-name>
    <servlet-class>servlet.IndexProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexProServlet</servlet-name>
    <url-pattern>/IndexProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>DeleteProServlet</javaee:display-name>
    <servlet-name>DeleteProServlet</servlet-name>
    <servlet-class>servlet.DeleteProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProServlet</servlet-name>
    <url-pattern>/manage/DeleteProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ProductviewServlet</javaee:display-name>
    <servlet-name>ProductviewServlet</servlet-name>
    <servlet-class>servlet.ProductviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductviewServlet</servlet-name>
    <url-pattern>/ProductviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>PayInfoServlet</javaee:display-name>
    <servlet-name>PayInfoServlet</servlet-name>
    <servlet-class>servlet.PayInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayInfoServlet</servlet-name>
    <url-pattern>/PayInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProByidServlet</servlet-name>
    <servlet-class>servlet.UpdateProByidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProByidServlet</servlet-name>
    <url-pattern>/manage/UpdateProByidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProServlet</servlet-name>
    <servlet-class>servlet.UpdateProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProServlet</servlet-name>
    <url-pattern>/manage/UpdateProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuerycommentServlet</servlet-name>
    <servlet-class>servlet.QuerycommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerycommentServlet</servlet-name>
    <url-pattern>/manage/QuerycommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatecommentServlet</servlet-name>
    <servlet-class>servlet.UpdatecommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatecommentServlet</servlet-name>
    <url-pattern>/manage/UpdatecommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletecommentServlet</servlet-name>
    <servlet-class>servlet.deletecommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecommentServlet</servlet-name>
    <url-pattern>/manage/deletecommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>news_result</javaee:display-name>
    <servlet-name>news_result</servlet-name>
    <servlet-class>servlet.news_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_result</servlet-name>
    <url-pattern>/manage/news_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>news_Add</javaee:display-name>
    <servlet-name>news_Add</servlet-name>
    <servlet-class>servlet.news_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_Add</servlet-name>
    <url-pattern>/manage/news_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>news_update</javaee:display-name>
    <servlet-name>news_update</servlet-name>
    <servlet-class>servlet.news_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_update</servlet-name>
    <url-pattern>/manage/news_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>news_delete</javaee:display-name>
    <servlet-name>news_delete</servlet-name>
    <servlet-class>servlet.news_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_delete</servlet-name>
    <url-pattern>/manage/news_delete</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>login_filter</filter-name>
    <filter-class>filter.login_filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login_filter</filter-name>
    <url-pattern>/recentlyServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ADDcommentServlet</javaee:display-name>
    <servlet-name>ADDcommentServlet</servlet-name>
    <servlet-class>servlet.ADDcommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDcommentServlet</servlet-name>
    <url-pattern>/ADDcommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>shoppingcar_addServlet</javaee:display-name>
    <servlet-name>shoppingcar_addServlet</servlet-name>
    <servlet-class>servlet.shoppingcar_addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingcar_addServlet</servlet-name>
    <url-pattern>/shoppingcar_addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>shoppingcar_deleteServlet</javaee:display-name>
    <servlet-name>shoppingcar_deleteServlet</servlet-name>
    <servlet-class>servlet.shoppingcar_deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingcar_deleteServlet</servlet-name>
    <url-pattern>/shoppingcar_deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>shoppingServlet</javaee:display-name>
    <servlet-name>shoppingServlet</servlet-name>
    <servlet-class>servlet.shoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingServlet</servlet-name>
    <url-pattern>/shoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>shopping_oneServlet</javaee:display-name>
    <servlet-name>shopping_oneServlet</servlet-name>
    <servlet-class>servlet.shopping_oneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopping_oneServlet</servlet-name>
    <url-pattern>/shopping_oneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>recentlyServlet</javaee:display-name>
    <servlet-name>recentlyServlet</servlet-name>
    <servlet-class>servlet.recentlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recentlyServlet</servlet-name>
    <url-pattern>/recentlyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>news_view</javaee:display-name>
    <servlet-name>news_view</servlet-name>
    <servlet-class>servlet.news_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_view</servlet-name>
    <url-pattern>/news_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>com_view</javaee:display-name>
    <servlet-name>com_view</servlet-name>
    <servlet-class>servlet.com_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com_view</servlet-name>
    <url-pattern>/com_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>pay_oneServlet</javaee:display-name>
    <servlet-name>pay_oneServlet</servlet-name>
    <servlet-class>servlet.pay_oneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay_oneServlet</servlet-name>
    <url-pattern>/pay_oneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>CheckPayServlet</javaee:display-name>
    <servlet-name>CheckPayServlet</servlet-name>
    <servlet-class>servlet.CheckPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPayServlet</servlet-name>
    <url-pattern>/CheckPayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>index_result</javaee:display-name>
    <servlet-name>index_result</servlet-name>
    <servlet-class>servlet.index_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_result</servlet-name>
    <url-pattern>/index_result</url-pattern>
  </servlet-mapping>
</web-app>